/* import google font "Inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* import "Miama" font */
@import url('https://fonts.cdnfonts.com/css/miama');


/* custom style here */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #E6533C;
    --color-2: #FFFFFF;
    --color-3: rgba(255, 255, 255, 0.5);
    --color-4: #333333;
    --color-5: #222222;
    --color-6: #111111;

    --fs-1: 14px;
    --fs-2: 16px;
    --fs-3: 18px;
    --fs-4: 20px;    
    --fs-5: 28px;
    --fs-6: 32px;
    --fs-7: 36px;
    --fs-8: 48px;
    --fs-9: 72px;

    --fw-1: 400;
    --fw-2: 600;
    --fw-3: 700;
    --fw-4: 800;
    --fw-5: 900;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    background-color: var(--color-6);
}

header .container, footer .container{
    padding-top: 50px;
}
section{
    padding: 70px 0 !important;
}

.container{
    width: min(1440px, 80%);
    margin: 0 auto; 
}

.btn--primary{
    color: var(--color-2) !important;
    background: var(--color-1);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    padding: 1rem 2.5rem;
    border-radius: 25px;
}

.btn--secondary{
    color: var(--color-2) !important;
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    padding: 1rem 2.5rem;
    border: 1px solid var(--color-2);
    border-radius: 25px;
}

.heading--primary{
    color: var(--color-2);
    font-size: var(--fs-8);
    font-weight: var(--fw-5);
}
.heading--secondary{
    color: var(--color-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-4);
}

.heading--tertiory{
    color: var(--color-2);
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
}

.text--primary{
    font-size: var(--fs-1);
    color: var(--color-3);
    font-weight: var(--fw-1);
    line-height: 1.5;
    letter-spacing: 1px;
}
.text--secondary{
    font-size: var(--fs-2);
    color: var(--color-3);
    font-weight: var(--fw-1);
    line-height: 1.5;
    letter-spacing: 1px;
}
.text--center{
    text-align: center;
}

body{
    font-family: "Inter", sans-serif;
}


/* header style start here */
.header{
    background-image: linear-gradient(#111111, #333333);
    background-position: center center;
    
}
.header__wrapper{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    
}


.header__body-heading{
    font-size: var(--fs-9);
    font-weight: var(--fw-5);
    color: var(--color-2);
    
    
}
.header__body-heading span{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: var(--fw-1);
    line-height: 1;
}

.header__body-text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.header__body-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}

.header__content img{
    max-width: 100%;
    
}

.header__content-box{
    position: absolute;
    width: 200px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.5);
    line-height: 1.5;


}
.box-1{
    top: 25%;
    right: -20%;
}

.box-2{
    bottom: 12%;
    left: 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 1rem;
}
/* .header__content-box h1, h2{
    font-size: var(--fs-7) ;
    font-weight: var(--fw-5) ;
    letter-spacing:1px;

}

.header__content-box h2{
    font-size: var(--fs-5) !important;
} */


.header__content-box .circle{
    width: 40px;
    height: 40px;
    background-color: var(--color-1);
    border-radius: 50%;
}

/* header style end here */    


/* nav style start here */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--color-1);
    font-size: var(--fs-7);
    font-style: italic;
    font-weight: var(--fw-4);
}
.nav__items{
    display: flex;
    gap: 1rem;
    border: 1px solid var(--color-3);
    border-radius: 20px;
}
.nav__item{
    padding: 8px 20px;
}
.nav__link{
    color: var(--color-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
}
.nav__bar{
    display: none;
    color: var(--color-2);
    font-size: var(--fs-5);
}
/* nav style end here */



/* section habit start here */
.habit__text{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.habit__gallery{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px
    
}
.habbit__gallery-item{
    width: 220px;
}
.habbit__gallery-img{
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.habbit__gallery-title{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* section habit end here */

/* section run start here */
.run__container{
    padding: 3rem;
    background: #222222;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.run__content{
    padding-right: 50px;
    width: 50%;

}
.run__content-heading{
    padding-right: 70px;
    margin-top: 1rem;
}

.run__content-text{
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.run__image{
  width: 50%;
    
}
.run__image img{
    border-radius: 20px;
    height: 100%;
}

/* section run end here */

/* section bmi start here */

.bmi__header{
    padding-left: 250px;
    padding-right: 150px;
}

.bmi__main{
    background-color: #222222;
}
.bmi__text{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.bmi__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 50px 0;
}

.bmi__chart-heading{
    margin-bottom: 60px;
}

.bmi__chart-table{
    /* border: 1px solid #333; */
    border-collapse: collapse;
    border-color: rgba(255, 255, 255, 0.05);
    
}

td,th{
    padding: 12px 24px;
    text-align: left;
}

th{
    color: var(--color-2);
}
.bmi__calculator{
    margin-top: 3rem;
}


.bmi__calculator-text{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.bmi__calculator-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.bmi__calculator-input input, select{
    width: 100%;
    background-color: #333333;
    padding: 12px 30px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.input--group.select{
    grid-column: 1 / 3;
}

.bmi__calculator-btn{
    margin-top: 25px;
    width: 150px
}
/* section bmi end here */


/* section trainer start here */

.trainer__text{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.trainer__gallery{
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

   
}

.trainer__gallery-card{
    position: relative;
}

.trainer__gallery-card img{
   width: 320px;
   height: 250px;
   border-radius: 20px;
   
}
.trainer__gallery-card h3{
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.trainer__gallery-card p{
    position: absolute;
    bottom: 3%;
    left: 5%;
}
/* section trainer end here */


/* section footer start here */
.footer{
    background-color: #222222;
}
.footer__container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
    
}
.item2{
    display: flex;
    gap: 2rem
}

.footer__items-logo{
    color: var(--color-1);
    font-size: var(--fs-9);
    font-weight: var(--fw-5);
    margin-bottom: 25px;
}
.footer__items h2{
    margin-bottom: 40px;
}

.footer__item{
    margin-bottom: 15px;
}
.footer__link{
    color: var(--color-3);
    font-size: var(--fs-4);
    font-weight: var(--fw-1);
    letter-spacing: 1px;
}

.footer__line{
    margin-top: 60px;
    background-color: #333333 !important;
    width: 100%;
    height: 2px;
}

.footer__copyright{
    font-size: var(--fs-4);
    color: var(--color-3);
    padding: 20px;
}
/* section footer end here */


/* responsive media query */

@media (max-width: 576px) {
    .btn--primary{
        font-size: calc(var(--fs-3) - 3px);
    }
    .heading--primary{
        font-size: calc(var(--fs-8) - 10px);
    }
    .nav__items{
        display: none;
    }
    .nav__bar{
        display: block;
    }
    .header__wrapper{
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    .header__body-heading{
        font-size: calc(var(--fs-9) - 20px);
    }
    .box-1{
        top: 10%;
        right:-8%;
    }
    .run__container{
        flex-direction: column;
        gap: 3rem;
    }
    .run__content, .run__image{
        width: 100%;
    }
    .run__content-btn{
        display: block;
        text-align: center;
        width: 100%;
        margin-inline: auto;
    }
    
.bmi__calculator-text{
    width: 60%;
   }

.bmi__calculator-input{
    grid-template-columns: repeat(2, minmax(100px, 150px));
}





.footer__container{
        grid-template-columns: 1fr;
        justify-content: center;
    }


 }





@media (min-width: 576px) and (max-width: 992px) {

    .heading--primary{
        font-size: calc(var(--fs-8) - 5px);
    }
    .container{
        width: 90%;
    }
    .nav__logo{
        font-size: calc(var(--fs-7) - 5px);
    }
    .nav__items{
        gap: .8rem;
    }
    .nav__item{
        padding-inline: 15px;
    }
    .nav__link{
        font-size: calc(var(--fs-3) - 2px);
    }
    .header__wrapper{
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }
    .header__content{
        justify-content: center;
    }
    .header__body-heading{
        width: 50%;
        font-size: calc(var(--fs-9) - 10px);
    }

    .box-1{
        top: 10%;
        left: 60%;
    }
    .box-2{
        bottom: 10%;
        left: 20%;
    }

    .run__container{
        flex-direction: column;
        gap: 3rem;
    }
    .run__content, .run__image{
        width: 100%;
    }
    .run__content-btn{
        display: block;
        text-align: center;
        width: 80%;
        margin-left: auto;
    }

    .footer__container{
        
        grid-template-columns: 1fr;
        justify-content: center;
    }
 }

/* @media (min-width: 992px) { ... } */