/* import google font "Inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* import "Miama" font */
@import url('https://fonts.cdnfonts.com/css/miama');


/* custom style here */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    background-color: #111111;
    padding-bottom: 80px;
}

.container{
    width: min(1440px, 80%);
    margin: 0 auto;  
    padding-top: 50px;
}

.btn--primary{
    background: var(--color-1);
    padding: 1rem 2.5rem;
    border-radius: 25px;
    color: var(--color-2) !important;
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
}

.btn--secondary{
    padding: 1rem 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--color-2);
    color: var(--color-2) !important;
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
}

.heading--primary{
    font-size: var(--fs-8);
    font-weight: var(--fw-5);
}
.heading--secondary{
    font-size: var(--fs-6);
    font-weight: var(--fw-4);
}

.heading--tertiory{
    font-size: var(--fs-4);
    font-weight: var(--fw-2);
}

.text--primary{
    font-size: var(--fs-1);
    color: var(--color-3);
    font-weight: var(--fw-1);
    line-height: 1.5;
    letter-spacing: 1px;
}
.text--center{
    text-align: center;
}




/* note: 

    font-family: 'Miama', sans-serif;
    background: #222222;
    background: #FFFFFF1A;
    background: rgba(255, 255, 255, 0.1);

*/

:root{
    --color-1: #E6533C;
    --color-2: #FFFFFF;
    --color-3:  rgba(255, 255, 255, 0.5);

    --fs-1: 14px;
    --fs-2: 16px;
    --fs-3: 18px;
    --fs-4: 20px;    
    --fs-5: 28px;
    --fs-6: 32px;
    --fs-7: 36px;
    --fs-8: 48px;
    --fs-9: 72px;

    --fw-1: 400;
    --fw-2: 600;
    --fw-3: 700;
    --fw-4: 800;
    --fw-5: 900;
}

body{
    font-family: "Inter", sans-serif;
    color: var(--color-2);
}


/* header style start here */
.header{
    background-image: linear-gradient(#111111, #333333);
    background-position: center center;
    
}
.header__wrapper{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    
}

.header__body{
    
}

.header__body-heading{
    font-size: var(--fs-9);
    font-weight: var(--fw-5);
}
.header__body-heading span{
    font-family: 'Miama', sans-serif;
    font-style: italic;
}

.header__body-text{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.header__body-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}

.header__content img{
    max-width: 100%;
    
}

.header__content-box{
    position: absolute;
    width: max(150px, 45%);
    height: auto;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.5);
    line-height: 1.5;


}
.box-1{
    top: 25%;
    right: -20%;
}

.box-2{
    bottom: 12%;
    left: 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 1rem;
}
.header__content-box h1, h2{
    font-size: var(--fs-7) ;
    font-weight: var(--fw-5) ;
    letter-spacing:1px;

}

.header__content-box h2{
    font-size: var(--fs-5) !important;
}
.header__content-box p{
    font-size: var(--fs-1);
    color: var(--color-3);
    font-weight: var(--fw-1);
    letter-spacing: 1px;
}

.header__content-box .circle{
    width: 40px;
    height: 40px;
    background-color: var(--color-1);
    border-radius: 50%;
}

/* header style end here */    


/* nav style start here */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--color-1);
    font-size: var(--fs-7);
    font-style: italic;
    font-weight: var(--fw-4);
}
.nav__items{
    display: flex;
    gap: 1rem;
    border: 1px solid var(--color-3);
    border-radius: 20px;
}
.nav__item{
    padding: 8px 20px;
}
.nav__link{
    color: var(--color-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
}

/* nav style end here */



/* section habit start here */
.habit__gallery{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px
    
}
.habbit__gallery-item{
    width: 220px;
}
.habbit__gallery-img{
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.habbit__gallery-title{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* section habit end here */

/* section run start here */
.run{
    margin: 80px 0;
    padding: 2rem;
    background: #222222;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.run__content{
    padding-right: 50px;

}
.run__content-heading{
    padding-right: 70px;
}
.run__content-text{
    margin-top: 10px;
    margin-bottom: 40px;
    
}
.run__image{
    text-align: right;
}
.run__image img{
    border-radius: 20px;
    width: 80%
}
/* section run end here */

/* section exercise start here */
.exercise__text{
    margin-top: 10px;
    margin-bottom: 50px;
}
.exercise__gallery{  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.picture1{
    background-image: rgba(0, 255, 0, 0.3);
}

.picture2{
    grid-column: 2 / 4;
}
.picture4{
    grid-column: 1 / 3;
}
.picture4 img{
    width: 100% !important;
}
.picture2 img{
    width: 100% !important;
}
.exercise__gallery-picture{
    height: 180px;
}
.exercise__gallery-picture img{
    height: 100%;
    
}
/* section exercise end here */

/* section bmi start here */
.bmi{
    margin-top: 80px;
    
}
.bmi__header{
    padding-left: 250px;
    padding-right: 150px;
}
.bmi__heading{
    margin-bottom: 20px;
}
.bmi__text{
    margin-bottom: 50px;
}


.bmi__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: #222222;
    padding: 50px 0;
}



.bmi__chart-heading{
    margin-bottom: 60px;
}

.bmi__chart-table{
    /* border: 1px solid #333; */
    border-collapse: collapse;
    border-color: rgba(255, 255, 255, 0.05);
    
}

td,th{
    /* border: 1px solid #333; */
    padding: 12px 24px;
    text-align: left;
    

}
td{
    color: var(--color-3);
    font-size: var(--fs-1);
}

.bmi__calculator-text{
    margin-top: 20px;
    margin-bottom: 30px;
}

.bmi__calculator{
    
   
    
}

.bmi__calculator-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.bmi__calculator-input input, select{
    font-size: var(--fs-2);
    color: var(--color-3);
    background-color: #333333;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 100%;
    
    
}

.input--group.select{
    grid-column: 1 / 3;
    
}

option{
    padding: 20px;
}
option:not(:first-child){
    color: var(--color-1)
}

.bmi__calculator-btn{
    margin-top: 25px;
    width: max(150px, 60%);
}
/* section bmi end here */

/* section trainer start here */
.trainer{
    margin: 80px 0;
}
.trainer__text{
    margin-top: 15px;
    margin-bottom: 50px;
}

.trainer__gallery{
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(2, 250px);
    
    gap: 20px;
    
    

}
.trainer__gallery-card{
    position: relative;
}

.trainer__gallery-card img{
    border-radius: 20px;
    width: max(250px, 100%);
    height: max(250px, 100%);
}
.trainer__gallery-card h3, .trainer__gallery-card p{
    position: absolute;
    top: 50%;
    left: 20%;
}

/* section trainer end here */

/* section footer start here */
.footer{
    background-color: #222222;
}
.footer__container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 5rem;
    
}

.footer__items-logo{
    color: var(--color-1);
    font-size: var(--fs-9);
    font-weight: var(--fw-5);
    margin-bottom: 25px;
}
.footer__items h2{
    margin-bottom: 40px;
}

.footer__item{
    margin-bottom: 15px;
}
.footer__link{
    color: var(--color-3);
    font-size: var(--fs-4);
    font-weight: var(--fw-1);
    letter-spacing: 1px;
}

.footer__line{
    margin-top: 60px;
    background-color: #333333 !important;
    width: 100%;
    height: 2px;
}

.footer__copyright{
    font-size: var(--fs-4);
    color: var(--color-3);
    padding: 20px;
}
/* section footer end here */